

#container{
    width: 100%;
	border: 1px solid #000;
    border-radius: 1em;
    height: 90%;
    position: relative;
    background:#e3e3e3;

}
#circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background: #9ad3de;
    top: -100000px;
}

html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
	
	background-color: #89bdd3;
}


#settings {
    width: 98%;
    border: 1px solid #000;
    border-radius: 1em;
    background-color: #9ad3de;
	color: black;
    margin: 0 auto;
    padding: 1em;
}

input{
	border: 1px solid black;
	height: 25px;
    border-radius: 1em;
	width: 10%;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	font-size: 15px;
	color: black;
}

button{
	background-color: #c9c9c9;
    border: 1px solid black;
	font-family: 'Black Ops One', cursive;
    color: black;
	width: 100%;
	border-radius: 1em;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

h1{
	font-family: 'Black Ops One', cursive;
	font-size: 50px;
	color: black;
}

p{
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	color: black;
}

body {
     width: 80%; /* provides space on either side of the content */ 
    margin: auto; /* centers the body in the viewport */
}

#timer{
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	color: black;
}
#score{
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	color: black;	
}
#missed{
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	color: black;	
}
